body {
  background-image: url("https://cdn.discordapp.com/attachments/910185843371671562/1100836267878527016/FondMM2.png");
  background-repeat: repeat;
}

.hidden {
  display: none;
}

#logo {
  height: 15rem;
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://cdn.discordapp.com/attachments/910185843371671562/1100093402084806717/RcLTWF9E-modified.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

h1 {
  text-transform: capitalize;
}

h2 {
  text-transform: capitalize;
}

h3 {
  text-transform: capitalize;
}

h4 {
  text-transform: capitalize;
}

body {
  display: grid;
  grid-template-columns: 1fr 8fr 1.5fr;
}
body header {
  grid-column: 1/4;
  height: 15vh;
}
body #homepage {
  grid-column: 2/3;
}
body #homepage #sec1 > figure:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
}
body #homepage #sec1 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
body #homepage #sec1 ul li a figure img {
  max-height: 30rem;
}
body #homepage #sec2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 2rem;
  padding-top: 6rem;
}
body #homepage #sec2 h1 {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  max-height: 3rem;
}
body #homepage #sec2 h1 a {
  text-decoration: none;
  color: #000;
  font-size: 3rem;
}
body #homepage #sec2 input {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 3rem;
  font-size: 1.5rem;
}
body #homepage #sec2 #UlSearchBar {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}
body #homepage #sec2 #UlSearchBar li {
  display: block;
}
body #homepage #sec2 #UlSearchBar li a {
  text-decoration: none;
  color: #000;
}
body #homepage #sec2 #UlSearchBar li a article {
  display: grid;
  grid-template-columns: 4fr 4fr;
  grid-template-rows: 1fr;
}
body #homepage #sec2 #UlSearchBar li a article h2 {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
}
body #homepage #sec2 #UlSearchBar li a article figure {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #homepage #sec2 #UlSearchBar li a article figure img {
  height: 7rem;
}
body #homepage #about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 8rem;
}
body #homepage #about article {
  padding: 4rem;
}
body footer {
  grid-column: 1/4;
  height: 15vh;
}

.footer {
  margin-top: 5rem;
  width: 100%;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.footer .logo {
  grid-column: 2/3;
  grid-row: 1/2;
  height: 100%;
  width: 100%;
}
.footer .logo figure {
  margin-top: 2.5rem;
  grid-column: 2/3;
  grid-row: 2/3;
  background-image: url("https://cdn.discordapp.com/attachments/910185843371671562/1100093402084806717/RcLTWF9E-modified.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 70%;
  width: 70%;
}
.footer .logo figure a {
  height: 100%;
  width: 100%;
}
.footer section:first-of-type {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.footer section:first-of-type .contact {
  grid-row: 1/2;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
}
.footer section:first-of-type .contact li {
  color: #fff;
  padding-top: 1rem;
}
.footer section:first-of-type .contact li i {
  color: #33383b;
  padding-right: 1rem;
}
.footer section:first-of-type .contact li a {
  text-decoration: none;
  color: #fff;
}
.footer section:first-of-type .reseaux {
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.footer section:first-of-type .reseaux li {
  display: inline-flex;
}
.footer section:first-of-type .reseaux a {
  width: 3rem;
  height: 3rem;
  background-color: #33383b;
  border-radius: 5px;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  margin-right: 0.5rem;
}
.footer section:first-of-type .reseaux a i {
  padding: 0.5rem;
}
.footer section:last-of-type {
  grid-column: 3/4;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  text-align: center;
}
.footer section:last-of-type h2 {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 1rem;
  font-size: 2.4rem;
  color: #fff;
}
.footer section:last-of-type form {
  grid-column: 2/3;
  grid-row: 2/3;
  display: inline-block;
}
.footer section:last-of-type form input {
  height: 55px;
  margin-bottom: 15px;
}
.footer section:last-of-type form textarea {
  height: 100px;
  margin-bottom: 20px;
}
.footer section:last-of-type form button {
  border-radius: 3px;
  background-color: #33383b;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  float: right;
}
.footer section:last-of-type form input, .footer section:last-of-type form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: #d1d2d2;
  width: 400px;
  padding: 18px;
}

.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  text-transform: capitalize;
}
.navbar a {
  grid-column: 1/2;
  align-items: center;
  justify-content: center;
  height: 6rem;
}
.navbar a figure {
  margin-top: 0.5rem;
  background-image: url("https://cdn.discordapp.com/attachments/910185843371671562/1100093402084806717/RcLTWF9E-modified.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 5rem;
}
.navbar ul {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.navbar ul li {
  font-size: 2rem;
  list-style: none;
  color: #fff;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
}
.navbar ul li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}
.navbar ul li:hover {
  color: black;
}
.navbar ul li:hover::before {
  background: linear-gradient(to bottom, #585d64, #697175, #7d8685, #959a97, #adaeab);
  box-shadow: 0px 3px 10px 0px black;
  transform: scale(1.2);
}
.navbar ul:first-of-type {
  grid-column: 2/3;
}
.navbar ul:last-of-type {
  grid-column: 3/4;
}

#boutique {
  grid-row: 2/3;
  grid-column: 2/3;
  min-height: 85vh;
}
#boutique h1 {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  padding-top: 4rem;
}
#boutique #categorie ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#boutique #categorie ul li {
  text-align: center;
  display: block;
  padding: 4rem;
}
#boutique #categorie ul li h2 {
  font-size: 3rem;
  padding: 1rem;
}
#boutique #categorie ul li a figure img {
  height: 25rem;
  max-height: 25rem;
  border-width: 0.2rem;
  border-style: solid;
  border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) 1;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#connexion {
  height: 85vh;
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#connexion section h2 {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
}
#connexion section form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#connexion section form label {
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 2rem;
  width: 60%;
}
#connexion section form input {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  width: 60%;
}
#connexion section form .submit {
  padding: 1rem;
  margin: 1rem;
  width: 20%;
  border-radius: 0.5rem;
  background-color: darkred;
  font-size: 1.5rem;
  color: #fff;
}
#connexion .log {
  grid-column: 1/2;
  grid-row: 1/2;
}
#connexion .regist {
  grid-column: 2/3;
  grid-row: 1/2;
}

#mon-compte {
  grid-column: 2/3;
}
#mon-compte > figure:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
#mon-compte h1 {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
#mon-compte #SectionInfoPerso {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr;
}
#mon-compte #SectionInfoPerso #ulListeInfo {
  grid-row: 1/2;
  grid-column: 2/3;
  border: 0.2rem solid;
  border-radius: 5px;
}
#mon-compte #SectionInfoPerso #ulListeInfo button {
  margin: 1rem;
  font-size: 1rem;
  background-color: darkred;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
}
#mon-compte #SectionInfoPerso #ulListeInfo li {
  margin: 1rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  list-style: none;
  color: #000;
}
#mon-compte #SectionInfoPerso #asideCompte {
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 100;
  position: sticky;
  top: 20rem;
}
#mon-compte #SectionInfoPerso #asideCompte > ul li {
  font-size: 2rem;
  line-height: 3rem;
  list-style: none;
  color: #000;
}
#mon-compte #SectionInfoPerso #asideCompte > ul li a {
  text-decoration: none;
  color: #000;
}
#mon-compte #SectionInfoPerso form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  line-height: 1rem;
  width: 50%;
}
#mon-compte #SectionInfoPerso form input {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
#mon-compte #SectionInfoPerso form input:last-of-type {
  margin: 1rem;
  font-size: 1rem;
  background-color: darkred;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
}
#mon-compte #SectionInfoPerso form label {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
}
#mon-compte #SectionInfoPerso #createAddress {
  grid-column: 3/4;
  grid-row: 1/2;
}
#mon-compte #SectionInfoPerso #edituser {
  grid-column: 3/4;
  grid-row: 1/2;
}
#mon-compte #SectionInfoPerso .hidden {
  display: none;
}

#favorite {
  grid-column: 2/3;
}
#favorite > figure:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
#favorite h1 {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
#favorite #section {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr;
}
#favorite #section > #ul {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#favorite #section > #ul > li > section {
  text-align: center;
  justify-content: start;
  display: block;
  padding: 2rem;
}
#favorite #section > #ul > li > section button {
  margin-top: 0.2rem;
  font-size: 1rem;
  background-color: darkred;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
}
#favorite #section > #ul > li > section h2 {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}
#favorite #section > #ul > li > section a figure img {
  max-height: 15rem;
}
#favorite #section #asideCompte {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 100;
  position: sticky;
  top: 20rem;
}
#favorite #section #asideCompte > ul li {
  font-size: 2rem;
  line-height: 3rem;
  list-style: none;
  color: #000;
}
#favorite #section #asideCompte > ul li a {
  text-decoration: none;
  color: #000;
}
#favorite .hidden {
  display: none;
}

#commandes {
  grid-row: 2/3;
  grid-column: 2/3;
}
#commandes > figure:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
#commandes #comm {
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
#commandes #comm h1 {
  grid-column: 1/3;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 6rem;
  padding-top: 6rem;
}
#commandes #comm section {
  grid-column: 2/3;
}
#commandes #comm section table {
  margin-bottom: 5rem;
  padding: 1rem;
  border-radius: 5px;
}
#commandes #comm section table thead tr th {
  padding: 1rem;
  font-size: 2rem;
}
#commandes #comm section table tbody tr td {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  vertical-align: middle;
}
#commandes #comm section table tbody tr td img {
  height: 5rem;
}
#commandes #comm section table tbody tr #total {
  font-size: 2rem;
  color: darkred;
}
#commandes #comm #asideCompte {
  grid-column: 1/2;
  z-index: 100;
  position: sticky;
  top: 20rem;
}
#commandes #comm #asideCompte > ul li {
  font-size: 2rem;
  line-height: 3rem;
  list-style: none;
  color: #000;
}
#commandes #comm #asideCompte > ul li a {
  text-decoration: none;
  color: #000;
}

#products {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 2fr 1fr 8fr;
}
#products > figure:first-of-type {
  grid-row: 1/2;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://cdn.discordapp.com/attachments/910185843371671562/1100093402084806717/RcLTWF9E-modified.png");
  background-repeat: no-repeat;
  background-position: center;
}
#products #top {
  grid-row: 2/3;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
#products #top nav ul {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid;
  border-radius: 5px;
}
#products #top nav ul li {
  padding: 1rem 3rem 1rem 3rem;
}
#products #top nav ul li a {
  text-decoration: none;
  color: #000;
}
#products #top nav ul li a h3 {
  font-size: 3rem;
  color: #000;
}
#products #top nav ul li:not(:last-of-type) {
  border-right: 0.1rem solid;
}
#products #Allproducts {
  grid-row: 3/4;
  grid-column: 2/3;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#products #Allproducts li {
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;
}
#products #Allproducts li h2 {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
}
#products #Allproducts li button {
  margin-top: 0.2rem;
  font-size: 1rem;
  background-color: darkred;
  color: #fff;
  border-radius: 5px;
  border-color: darkred;
  padding: 0.5rem;
}
#products #Allproducts li a figure img {
  height: 15rem;
  width: 15rem;
  border-width: 0.3rem;
  border-style: solid;
  border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) 1;
}
#products #Allproducts .hidden {
  display: none;
}
#products #gauche {
  grid-row: 3/4;
  grid-column: 1/2;
  line-height: 6rem;
}
#products #gauche nav {
  z-index: 100;
  position: sticky;
  top: 20rem;
}
#products #gauche nav h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
}
#products #gauche nav ul {
  flex-direction: column;
}
#products #gauche nav ul li a {
  text-decoration: none;
  color: #000;
}
#products #gauche nav ul li a h3 {
  line-height: 3rem;
  font-size: 1.8rem;
  color: #000;
}
#products #gauche nav #filtre .filtres {
  display: flex;
  flex-direction: column;
}
#products #gauche nav #filtre .filtres label {
  font-size: 1.8rem;
  text-transform: capitalize;
}
#products #gauche nav #filtre .filtres select {
  border-width: 0.1rem;
  border-style: solid;
  border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) 1;
  font-size: 1.5rem;
  text-transform: capitalize;
  background-color: #fff;
  color: #000;
  width: 60%;
}
#products #gauche nav #filtre .filtres select option {
  font-size: 1.3rem;
}

#OneProduct {
  grid-row: 2/3;
  grid-column: 2/3;
}
#OneProduct #article {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 4fr 0.2fr 5fr;
  grid-template-rows: 0.3fr 0.7fr 0.1fr;
  border-width: 0.2rem;
  border-style: solid;
  border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) 1;
  border-radius: 5px;
}
#OneProduct #article #headerArticle {
  grid-row: 1/2;
  grid-column: 3/4;
  border-width: 0.2rem;
  border-style: solid;
  border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) 1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}
#OneProduct #article #headerArticle h1 {
  font-size: 4rem;
}
#OneProduct #article #media {
  grid-row: 1/3;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  margin: 2rem;
}
#OneProduct #article #media img {
  height: 50rem;
}
#OneProduct #article #ulArticle {
  grid-row: 2/3;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin-left: 2rem;
  border-width: 0.2rem;
  border-style: solid;
  border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) 1;
  border-radius: 5px;
}
#OneProduct #article #ulArticle li {
  font-size: 1.4rem;
  padding: 1rem;
  padding-left: 2rem;
}
#OneProduct #article #ulArticle li h2 {
  padding-bottom: 0.5rem;
}
#OneProduct #article #ulArticle #description {
  padding-top: 2rem;
}
#OneProduct #article #ulArticle #prix #footerArticle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#OneProduct #article #ulArticle #prix #footerArticle fieldset {
  grid-row: 1/2;
  grid-column: 1/2;
  font-size: 1.5rem;
}
#OneProduct #article #ulArticle #prix #footerArticle p {
  grid-row: 2/3;
  grid-column: 1/2;
  font-size: 1.5rem;
}
#OneProduct #article #ulArticle #prix #footerArticle span {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#OneProduct .button {
  margin-top: 0.2rem;
  font-size: 1rem;
  background-color: darkred;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
}
#OneProduct #asidePanier {
  margin-top: 2rem;
  border-width: 0.2rem;
  border-style: solid;
  border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) 1;
  border-radius: 5px;
}
#OneProduct #asidePanier h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 3rem;
}
#OneProduct #asidePanier #section #ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem;
}
#OneProduct #asidePanier #section #ul .liArticle {
  border-width: 0.2rem;
  border-style: solid;
  border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) 1;
  border-radius: 5px;
  margin: 1rem;
  max-width: 40%;
}
#OneProduct #asidePanier #section #ul .liArticle article {
  margin: 1rem;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 1fr 1fr;
  font-size: 2rem;
}
#OneProduct #asidePanier #section #ul .liArticle article h3 {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
#OneProduct #asidePanier #section #ul .liArticle article p {
  grid-row: 1/2;
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
#OneProduct #asidePanier #section #ul .liArticle article .buttonSection {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
#OneProduct #asidePanier #section #ul .liArticle article .buttonSection span {
  padding: 0.5rem;
}
#OneProduct #asidePanier #section #ul .liArticle article figure {
  grid-row: 1/3;
  grid-column: 1/2;
}
#OneProduct #asidePanier #section #ul .liArticle article figure img {
  height: 10rem;
}
#OneProduct #asidePanier #section #ul .liArticle article button {
  grid-row: 2/3;
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: darkred;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
}
#OneProduct #asidePanier footer {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 1fr 1fr;
}
#OneProduct #asidePanier footer p {
  font-size: 2rem;
  grid-row: 2/3;
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
#OneProduct #asidePanier footer p a {
  text-decoration: none;
  color: #000;
}
#OneProduct #asidePanier footer p:first-of-type {
  grid-row: 1/2;
  grid-column: 3/4;
}
#OneProduct #asidePanier footer p:last-of-type {
  grid-row: 1/3;
  grid-column: 1/2;
}
#OneProduct #footer {
  padding-top: 5rem;
}
#OneProduct #footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#OneProduct #footer ul li {
  text-align: center;
  display: block;
}
#OneProduct #footer ul li h2 {
  font-size: 2rem;
  padding: 0.5rem;
}
#OneProduct #footer ul li a figure img {
  height: 12rem;
  max-height: 12rem;
}

#panier {
  grid-row: 2/3;
  grid-column: 2/3;
}
#panier > figure:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
#panier #panierSection {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 0.1fr 4fr;
}
#panier #panierSection h2 {
  grid-column: 1/4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 3rem;
}
#panier #panierSection #section {
  grid-column: 3/4;
}
#panier #panierSection #section #ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem;
}
#panier #panierSection #section #ul .liArticle {
  border: 0.2rem solid;
  border-radius: 5px;
  margin: 1rem;
  width: 90%;
}
#panier #panierSection #section #ul .liArticle article {
  margin: 1rem;
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 1fr 1fr;
  font-size: 2rem;
}
#panier #panierSection #section #ul .liArticle article h3 {
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
#panier #panierSection #section #ul .liArticle article p {
  grid-row: 1/2;
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
#panier #panierSection #section #ul .liArticle article .buttonSection {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
#panier #panierSection #section #ul .liArticle article .buttonSection span {
  padding: 0.5rem;
}
#panier #panierSection #section #ul .liArticle article figure {
  grid-row: 1/3;
  grid-column: 1/2;
}
#panier #panierSection #section #ul .liArticle article figure img {
  height: 20rem;
}
#panier #panierSection #section #ul .liArticle article button {
  grid-row: 2/3;
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: darkred;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
}
#panier #panierSection .button {
  margin-top: 0.2rem;
  font-size: 1rem;
  background-color: darkred;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
}
#panier #panierSection footer {
  grid-column: 3/4;
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-template-rows: 1fr 1fr;
}
#panier #panierSection footer p {
  font-size: 2rem;
  grid-row: 2/3;
  grid-column: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
}
#panier #panierSection footer p a {
  text-decoration: none;
  color: #000;
}
#panier #panierSection footer p:first-of-type {
  grid-row: 1/2;
  grid-column: 3/4;
}
#panier #panierSection footer p:last-of-type {
  grid-row: 2/3;
  grid-column: 3/4;
}
#panier #panierSection #asideCompte {
  grid-column: 1/2;
  grid-row: 2/4;
  z-index: 100;
  position: sticky;
  top: 20rem;
}
#panier #panierSection #asideCompte > ul li {
  font-size: 2rem;
  line-height: 3rem;
  list-style: none;
  color: #000;
}
#panier #panierSection #asideCompte > ul li a {
  text-decoration: none;
  color: #000;
}
#panier #panierSection #sec {
  grid-row: 5/6;
  grid-column: 3/4;
}
#panier #panierSection #sec h2 {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}
#panier #panierSection #sec fieldset form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#panier #panierSection #sec fieldset form label {
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 2rem;
  width: 60%;
}
#panier #panierSection #sec fieldset form input {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  width: 60%;
}
#panier #panierSection #sec fieldset form .submit {
  padding: 1rem;
  margin: 1rem;
  width: 20%;
  border-radius: 0.5rem;
  background-color: darkred;
  font-size: 1.5rem;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
