
@media(min-width: 0px) and (max-width: 720px) 
{
    #commandes{ //main 
        grid-row: 2/3 ;
        grid-column: 2/3 ;
        padding-top:10rem;
    #comm{
        text-transform: capitalize;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.01  0.01fr;
        h1{
            grid-column: 1/2;
            grid-row: 1/2;
            font-size:2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom:2rem;
            padding-top:2rem;
            text-align:center;
        }
        section{
            grid-column: 1/2;
            max-width:90%;
            table{
                border: 2px solid;
                margin-bottom:2rem;
                padding:0.5rem;
                border-radius:5px;
                thead{
                    tr{
                        th{
                            
                            padding:0.5rem;
                            font-size:0.8rem;
                        }
                    }
                    
                }
                tbody{
                    tr{
                        td{
                            text-align:center;
                            font-size:0.8rem;
                            padding-bottom:0.5rem;
                            vertical-align: middle;
                            img{
                                height:3rem;
                            }
                        }
                        .total{
                            font-size:1rem;
                            color:darkred;
                        }
                    }
                }
            }
        }
          #asideCompte{
            grid-column: 1/2;
            grid-row: 2/3;
            text-align:center;
            padding-bottom:2rem;
                > ul{
                    li {
        	 	font-size:1rem;
        	 	line-height:1.5rem;
        		list-style: none;
        		color: #000;
                		a {
                		  text-decoration:none;
                		  color: #000;
                		}
                    }    
                }
        }
    }
}
}

@media(min-width: 720px) and (max-width: 1200px) 
{
    #commandes{ //main 
        grid-row: 2/3 ;
        grid-column: 2/3 ;
        padding-top:10rem;
    #comm{
        text-transform: capitalize;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.01  0.01fr;
        h1{
            grid-column: 1/2;
            grid-row: 1/2;
            font-size:3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom:3rem;
            padding-top:3rem;
            text-align:center;
        }
        section{
            grid-column: 1/2;
            table{
                border: 2px solid;
                margin-bottom:4rem;
                padding:0.7rem;
                border-radius:5px;
                thead{
                    tr{
                        th{
                            
                            padding:0.7rem;
                            font-size:1.5rem;
                        }
                    }
                    
                }
                tbody{
                    tr{
                        td{
                            text-align:center;
                            font-size:1.3rem;
                            padding-bottom:1rem;
                            vertical-align: middle;
                            img{
                                height:4rem;
                            }
                        }
                        .total{
                            font-size:1.5rem;
                            color:darkred;
                        }
                    }
                }
            }
        }
          #asideCompte{
            grid-column: 1/2;
            grid-row: 2/3;
            text-align:center;
            padding-bottom:2.5rem;
                > ul{
                    li {
        	 	font-size:1.7rem;
        	 	line-height:2.7rem;
        		list-style: none;
        		color: #000;
                		a {
                		  text-decoration:none;
                		  color: #000;
                		}
                    }    
                }
        }
    }
}
}
@media(min-width: 1200px) and (max-width: 1919px) 
{
#commandes{ //main 
        grid-row: 2/3 ;
        grid-column: 2/3 ;
        padding-top:10rem;
    #comm{
        text-transform: capitalize;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.01  0.01fr;
        h1{
            grid-column: 1/2;
            grid-row: 1/2;
            font-size:4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom:6rem;
            padding-top:6rem;
            text-align:center;
        }
        section{
            grid-column: 1/2;
            table{
                border: 2px solid;
                margin-bottom:5rem;
                padding:1rem;
                border-radius:5px;
                thead{
                    tr{
                        th{
                            
                            padding:1rem;
                            font-size:2rem;
                        }
                    }
                    
                }
                tbody{
                    tr{
                        td{
                            text-align:center;
                            font-size:1.5rem;
                            padding-bottom:1rem;
                            vertical-align: middle;
                            img{
                                height:5rem;
                            }
                        }
                        .total{
                            font-size:2rem;
                            color:darkred;
                        }
                    }
                }
            }
        }
          #asideCompte{
            grid-column: 1/2;
            grid-row: 2/3;
            text-align:center;
            padding-bottom:3rem;
                > ul{
                    li {
        	 	font-size:2rem;
        	 	line-height:3rem;
        		list-style: none;
        		color: #000;
                		a {
                		  text-decoration:none;
                		  color: #000;
                		}
                    }    
                }
        }
    }
}
}
@media(min-width: 1920px) 
{
#commandes{ //main 
        grid-row: 2/3 ;
        grid-column: 2/3 ;
        padding-top:5rem;
    #comm{
        text-transform: capitalize;
        display:grid;
        grid-template-columns: 1fr 4fr;
        h1{
            grid-column: 1/3;
            font-size:4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom:6rem;
            padding-top:6rem;
            text-align:center;
        }
        section{
            grid-column: 2/3;
            table{
                border: 2px solid;
                margin-bottom:5rem;
                padding:1rem;
                border-radius:5px;
                thead{
                    tr{
                        th{
                            
                            padding:1rem;
                            font-size:2rem;
                        }
                    }
                    
                }
                tbody{
                    tr{
                        td{
                            text-align:center;
                            font-size:1.5rem;
                            padding-bottom:1rem;
                            vertical-align: middle;
                            img{
                                height:5rem;
                            }
                        }
                        .total{
                            font-size:2rem;
                            color:darkred;
                        }
                    }
                }
            }
        }
          #asideCompte{
            grid-column: 1/2;
            z-index: 100;
            position: sticky;
            top:20rem;
          
                > ul{
                    li {
        	 	font-size:2rem;
        	 	line-height:3rem;
        		list-style: none;
        		color: #000;
                		a {
                		  text-decoration:none;
                		  color: #000;
                		}
                    }    
                }
        }
    }
}
}