#homepage //main 
    {
        grid-column: 2/3 ;
        padding-top:14rem;
        padding-bottom:8rem;
        #sec1{
            #carrousel{ //ul
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                li {
                    padding-bottom:2rem;
                    a{
                        figure{
                            
                            img{
                                border-width: 0.2rem;
                                border-style: solid;
                                border-image: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C) 1;
                            }
                            @media(min-width: 0px) and (max-width: 480px)  
                            {
                                img{
                                    height:10rem;
                                    
                                }
                            }
                            @media(min-width: 480px) and (max-width: 720px) 
                            {
                                img{
                                    height:13rem;
                                    
                                }
                            }
                            @media(min-width: 720px) and (max-width: 900px) 
                            {
                                img{
                                    height:15rem;
                                    
                                }
                            }
                            @media(min-width: 900px) and (max-width: 1024px) 
                            {
                                img{
                                    height:18rem;
                                    
                                }
                            }
                            @media(min-width: 1024px) and (max-width: 1200px) 
                            {
                                img{
                                    height:22rem;
                                    
                                }
                            }
                            @media(min-width: 1200px) and (max-width: 1924px) 
                                {
                                    img{
                                        height:25rem;
                                        
                                    }
                                }
                            @media(min-width: 1925px)
                                {
                                    img{
                                        height:30rem;
                                        
                                    }
                                }
                        }
                    }
                }
            }
        }
       
                @media(min-width: 0px) and (max-width: 479px) 
                {
                   #sec2{
                            display: grid;
                            grid-template-columns: 4fr 1fr;
                            padding:0.7rem;
                            padding-top:1.5rem;
                            h2 {
                                grid-column: 1/2 ;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                height:1rem;
                                max-height:1rem;
                                width:100%;
                                a{
                                    text-decoration:none;
                                    color: #000;
                                    font-size:0.9rem;
                                }
                            }
                            input {
                                grid-column: 2/3 ;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                max-height:1rem;
                                font-size:0.7rem;
                                width:50%;
                            }
                        #UlSearchBar{
                            grid-column: 2/3 ;
                            display:flex;
                            align-items: center;
                            justify-content: start;
                            flex-direction: row;
                            max-width:82%;
                            li{
                                display:block;
                                max-width:40%;
                                margin:0.4rem;
                                a{
                                    text-decoration:none;
                                    color: #000;
                                    article{
                                        display:grid;
                                        grid-template-columns: 4fr 4fr;
                                        grid-template-rows: 1fr;
                                        h2{
                                            grid-column: 2/3 ;
                                            grid-row: 1/2 ;
                                            display:flex;
                                            align-items: center;
                                            font-size:0.8rem;
                                            text-align:center;
                                        }
                                        figure{
                                            grid-column: 1/2 ;
                                            grid-row: 1/2 ;
                                            img{
                                                height:2.5rem ;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @media(min-width: 480px) and (max-width: 720px) 
                {
                   #sec2{
                            display: grid;
                            grid-template-columns: 4fr 1fr;
                            padding:1rem;
                            padding-top:2rem;
                            h2 {
                                grid-column: 1/2 ;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                height:1.3rem;
                                max-height:1.3rem;
                                width:100%;
                                a{
                                    text-decoration:none;
                                    color: #000;
                                    font-size:1.1rem;
                                }
                            }
                            input {
                                grid-column: 2/3 ;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                max-height:1.3rem;
                                font-size:0.9rem;
                                width:50%;
                            }
                        #UlSearchBar{
                            grid-column: 2/3 ;
                            display:flex;
                            align-items: center;
                            justify-content: start;
                            flex-direction: row;
                            max-width:82%;
                            li{
                                display:block;
                                max-width:40%;
                                margin:0.5rem;
                                a{
                                    text-decoration:none;
                                    color: #000;
                                    article{
                                        display:grid;
                                        grid-template-columns: 4fr 4fr;
                                        grid-template-rows: 1fr;
                                        h2{
                                            grid-column: 2/3 ;
                                            grid-row: 1/2 ;
                                            display:flex;
                                            align-items: center;
                                            font-size:1rem;
                                            text-align:center;
                                        }
                                        figure{
                                            grid-column: 1/2 ;
                                            grid-row: 1/2 ;
                                            img{
                                                height:3rem ;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @media(min-width: 720px) and (max-width: 900px) 
                {
                    #sec2{
                            display: grid;
                            grid-template-columns: 4fr 1fr;
                            padding:1.2rem;
                            padding-top:2.5rem;
                            h2 {
                                grid-column: 1/2 ;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                height:1.5rem;
                                max-height:1.5rem;
                                width:100%;
                                a{
                                    text-decoration:none;
                                    color: #000;
                                    font-size:1.3rem;
                                }
                            }
                            input {
                                grid-column: 2/3 ;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                max-height:1.5rem;
                                font-size:1rem;
                                width:50%;
                            }
                        #UlSearchBar{
                            grid-column: 2/3 ;
                            display:flex;
                            align-items: center;
                            justify-content: start;
                            flex-direction: row;
                            max-width:82%;
                            li{
                                display:block;
                                max-width:40%;
                                margin:0.6rem;
                                a{
                                    text-decoration:none;
                                    color: #000;
                                    article{
                                        display:grid;
                                        grid-template-columns: 4fr 4fr;
                                        grid-template-rows: 1fr;
                                        h2{
                                            grid-column: 2/3 ;
                                            grid-row: 1/2 ;
                                            display:flex;
                                            align-items: center;
                                            font-size:1.2rem;
                                            text-align:center;
                                        }
                                        figure{
                                            grid-column: 1/2 ;
                                            grid-row: 1/2 ;
                                            img{
                                                height:3rem ;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @media(min-width: 900px) and (max-width: 1024px) 
                {
                   #sec2{
                            display: grid;
                            grid-template-columns: 4fr 1fr;
                            padding:1.2rem;
                            padding-top:3rem;
                            h2 {
                                grid-column: 1/2 ;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                height:1.5rem;
                                max-height:1.5rem;
                                width:100%;
                                a{
                                    text-decoration:none;
                                    color: #000;
                                    font-size:1.5rem;
                                }
                            }
                            input {
                                grid-column: 2/3 ;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                max-height:1.7rem;
                                font-size:1.1rem;
                                width:50%;
                            }
                        #UlSearchBar{
                            grid-column: 2/3 ;
                            display:flex;
                            align-items: center;
                            justify-content: start;
                            flex-direction: row;
                            max-width:82%;
                            li{
                                display:block;
                                max-width:40%;
                                margin:0.6rem;
                                a{
                                    text-decoration:none;
                                    color: #000;
                                    article{
                                        display:grid;
                                        grid-template-columns: 4fr 4fr;
                                        grid-template-rows: 1fr;
                                        h2{
                                            grid-column: 2/3 ;
                                            grid-row: 1/2 ;
                                            display:flex;
                                            align-items: center;
                                            font-size:1.2rem;
                                            text-align:center;
                                        }
                                        figure{
                                            grid-column: 1/2 ;
                                            grid-row: 1/2 ;
                                            img{
                                                height:3.5rem ;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @media(min-width: 1024px) and (max-width: 1200px) 
                {
                    #sec2{
                            display: grid;
                            grid-template-columns: 4fr 1fr;
                            padding:1.5rem;
                            padding-top:3.5rem;
                            h2 {
                                grid-column: 1/2 ;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                height:1.8rem;
                                max-height:1.8rem;
                                width:100%;
                                a{
                                    text-decoration:none;
                                    color: #000;
                                    font-size:1.8rem;
                                }
                            }
                            input {
                                grid-column: 2/3 ;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                max-height:2rem;
                                font-size:1.3rem;
                                width:50%;
                            }
                        #UlSearchBar{
                            grid-column: 2/3 ;
                            display:flex;
                            align-items: center;
                            justify-content: start;
                            flex-direction: row;
                            max-width:82%;
                            li{
                                display:block;
                                max-width:40%;
                                margin:0.7rem;
                                a{
                                    text-decoration:none;
                                    color: #000;
                                    article{
                                        display:grid;
                                        grid-template-columns: 4fr 4fr;
                                        grid-template-rows: 1fr;
                                        h2{
                                            grid-column: 2/3 ;
                                            grid-row: 1/2 ;
                                            display:flex;
                                            align-items: center;
                                            font-size:1.4rem;
                                            text-align:center;
                                        }
                                        figure{
                                            grid-column: 1/2 ;
                                            grid-row: 1/2 ;
                                            img{
                                                height:4rem ;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @media(min-width: 1200px) and (max-width: 1919px) 
                    {
                       #sec2{
                            display: grid;
                            grid-template-columns: 4fr 1fr;
                            padding:1.7rem;
                            padding-top:4rem;
                            h2 {
                                grid-column: 1/2 ;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                height:2rem;
                                max-height:2rem;
                                width:100%;
                                a{
                                    text-decoration:none;
                                    color: #000;
                                    font-size:2rem;
                                }
                            }
                            input {
                                grid-column: 2/3 ;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                max-height:2rem;
                                font-size:1.4rem;
                                width:50%;
                            }
                        #UlSearchBar{
                            grid-column: 2/3 ;
                            display:flex;
                            align-items: center;
                            justify-content: start;
                            flex-direction: row;
                            max-width:82%;
                            li{
                                display:block;
                                max-width:40%;
                                margin:0.8rem;
                                a{
                                    text-decoration:none;
                                    color: #000;
                                    article{
                                        display:grid;
                                        grid-template-columns: 4fr 4fr;
                                        grid-template-rows: 1fr;
                                        h2{
                                            grid-column: 2/3 ;
                                            grid-row: 1/2 ;
                                            display:flex;
                                            align-items: center;
                                            font-size:1.5rem;
                                            text-align:center;
                                        }
                                        figure{
                                            grid-column: 1/2 ;
                                            grid-row: 1/2 ;
                                            img{
                                                height:5rem ;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @media(min-width: 1920px) 
                    {
                        #sec2{
                            display: grid;
                            grid-template-columns: 4fr 1fr;
                            padding:2rem;
                            padding-top:6rem;
                            h2 {
                                grid-column: 1/2 ;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                height:3rem;
                                max-height:3rem;
                                width:100%;
                                a{
                                    text-decoration:none;
                                    color: #000;
                                    font-size:3rem;
                                }
                            }
                            input {
                                grid-column: 2/3 ;
                                display:flex;
                                justify-content: center;
                                max-height:3rem;
                                font-size:1.5rem;
                                width:50%;
                            }
                        #UlSearchBar{
                            grid-column: 2/3 ;
                            display:flex;
                            align-items: center;
                            justify-content: start;
                            flex-direction: row;
                            max-width:82%;
                            li{
                                display:block;
                                max-width:40%;
                                margin:1rem;
                                a{
                                    text-decoration:none;
                                    color: #000;
                                    article{
                                        display:grid;
                                        grid-template-columns: 4fr 4fr;
                                        grid-template-rows: 1fr;
                                        h2{
                                            grid-column: 2/3 ;
                                            grid-row: 1/2 ;
                                            display:flex;
                                            align-items: center;
                                            font-size:2rem;
                                            text-align:center;
                                        }
                                        figure{
                                            grid-column: 1/2 ;
                                            grid-row: 1/2 ;
                                            img{
                                                height:7rem ;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
        @media(min-width: 0px) and (max-width: 720px) 
        {
             #about{ //section
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    padding-top:2rem;
                    article{
                        padding:1.4rem;
                        h2{
                            display:flex;
                            align-items: center;
                            justify-content: center;
                            font-size:1.5rem;
                            text-align:center;
                            padding-bottom:0.8rem;
                        }
                        p{
                            font-size:0.9rem;
                            line-height:1.2rem;  
                            text-align:center;
                        }
                    }
                }
        }
        @media(min-width: 720px) and (max-width: 900px) 
        {
             #about{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    padding-top:2rem;
                    article{
                        padding:1.4rem;
                        h2{
                            display:flex;
                            align-items: center;
                            justify-content: center;
                            font-size:1.5rem;
                            text-align:center;
                            padding-bottom:0.8rem;
                        }
                        p{
                            font-size:0.9rem;
                            line-height:1.2rem;  
                            text-align:center;
                        }
                    }
                }
        }
        @media(min-width: 900px) and (max-width: 1024px) 
        {
             #about{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    padding-top:2.5rem;
                    article{
                        padding:1.8rem;
                        h2{
                            display:flex;
                            align-items: center;
                            justify-content: center;
                            font-size:1.8rem;
                            text-align:center;
                            padding-bottom:1rem;
                        }
                        p{
                            font-size:0.9rem;
                            line-height:1.3rem;  
                            text-align:center;
                        }
                    }
                }
        }
        @media(min-width: 1024px) and (max-width: 1200px) 
        {
            #about{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    padding-top:3rem;
                    article{
                        padding:2rem;
                        h2{
                            display:flex;
                            align-items: center;
                            justify-content: center;
                            font-size:2rem;
                            text-align:center;
                            padding-bottom:1.2rem;
                        }
                        p{
                            font-size:1.2rem;
                            line-height:1.5rem;  
                            text-align:center;
                        }
                    }
                }
        }
        @media(min-width: 1200px) and (max-width: 1919px) 
            {
                #about{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    padding-top:5rem;
                    article{
                        padding:3rem;
                        h2{
                            display:flex;
                            align-items: center;
                            justify-content: center;
                            font-size:2.5rem;
                            text-align:center;
                            padding-bottom:1.7rem;
                        }
                        p{
                            font-size:1.5rem;
                            line-height:1.8rem;  
                            text-align:center;
                        }
                    }
                }
            }
        @media(min-width: 1920px) 
            {
                #about{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    padding-top:8rem;
                    article{
                        padding:4rem;
                        h2{
                            display:flex;
                            align-items: center;
                            justify-content: center;
                            font-size:3rem;
                            text-align:center;
                            padding-bottom:2rem;
                        }
                        p{
                            font-size:1.8rem;
                            line-height:2rem;  
                            text-align:center;
                        }
                    }
                }
            }
        
    }