.navbar { //nav
    width:100%;
	background-color: rgba(0, 0, 0, .5);
	z-index: 100;
    position:fixed;
    display:grid;
    grid-template-columns: 1fr 4fr 2fr;
    text-transform: capitalize;
     
	.logoNav {
	    grid-column: 1 / 2 ;
	    display:flex;
	    align-items: center;
		justify-content: center;
	  	margin-top:0.5rem;
		background-image:url("https://cdn.discordapp.com/attachments/910185843371671562/1100093402084806717/RcLTWF9E-modified.png");
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: contain;
	    height: 5rem;
	    a {
     	width:100%;
		height:100%;
	    }
 	 }
	
	
	ul {
	  display: inline-flex;
  	  align-items: center;
	  justify-content: center;
	
		@media(min-width: 0px) and (max-width: 480px)  
        {
            li{
                    padding:0.2rem;
					margin:0.2rem;
                    font-size:0.7rem;
                }
        }
        @media(min-width: 480px) and (max-width: 720px) 
        {
            li{
                    padding:0.4rem;
					margin:0.4rem;
                    font-size:0.7rem;
                }
        }
        @media(min-width: 720px) and (max-width: 900px) 
        {
           		li{
                    padding: 0.5rem;
					margin:0.5rem;
                    font-size:1.4rem;
                }
        }
        @media(min-width: 900px) and (max-width: 1024px) 
        {
            li{
                    padding: 0.7rem;
					margin:0.7rem;
                    font-size:1.7rem;
                }
        }
        @media(min-width: 1024px) and (max-width: 1200px) 
        {
            li{
                    padding:0.8rem;
					margin:0.8rem;
                    font-size:1.8rem;
                }
        }
        @media(min-width: 1200px) and (max-width: 1924px) 
            {
                li{
                    padding:0.9rem;
					margin:0.9rem;
                    font-size:1.9rem;
                }
            }
        @media(min-width: 1925px) 
            {
                li{
                    padding: 1rem;
					margin:1rem;
                    font-size:2rem;
                }
            }
        li {
		list-style: none;
		color: #fff;
		position: relative;
		cursor: pointer;
		white-space: nowrap;
		a {
		  text-decoration:none;
		  color: #fff;
		}
		 
		&::before {
			content: " ";
			position: absolute;
			top: 0;
			left:0;
			height:100%;
			width: 100%;
			z-index:-1;
			transition: .2s;
			border-radius: 25px;
		}
			&:hover {
				&::before {
					background: linear-gradient(to bottom, #585d64, #697175, #7d8685, #959a97, #adaeab);
						box-shadow: 0px 3px 10px 0px black;
						transform: scale(1.2);
				}
				color: black;
		}
		
	}
}
  ul:first-of-type {
  grid-column: 2 / 3 ;
}
ul:last-of-type {
  grid-column: 3 / 4 ;
	}

}