body{
    background-image: url("https://cdn.discordapp.com/attachments/910185843371671562/1100836267878527016/FondMM2.png");
    background-repeat: repeat;
    font-size:14px;
    display:grid;
    grid-template-columns: 0.5fr 8fr 0.5fr;
    .hidden{
        display:none;
    }
    header {
        grid-column: 1/4 ;
        
     @media(min-width: 0px) and (max-width: 720px) 
    {
       height:12vh;
    }
    @media(min-width: 720px) and (max-width: 900px) 
    {
        height:12vh;
    }
    @media(min-width: 900px) and (max-width: 1024px) 
    {
        height:14vh;
    }
    @media(min-width: 1024px) and (max-width: 1200px) 
    {
        height:20vh;
    }
    @media(min-width: 1200px) and (max-width: 1919px) 
        {
           height:25vh;
        }
    @media(min-width: 1920px) 
        {
            height:28vh;
        }
        #logo { //logo
                grid-column: 2/3 ;
                display: flex;
                align-items: center;
                justify-content: center;
                background-image:url("https://cdn.discordapp.com/attachments/910185843371671562/1100093402084806717/RcLTWF9E-modified.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
    }
    
    @media(min-width: 0px) and (max-width: 720px) 
    {
        #logo { //logo
                     height:8rem;
                     margin-top:6rem;
                }
    }
    @media(min-width: 720px) and (max-width: 900px) 
    {
        #logo { //logo
                     height:9rem;
                     margin-top:6rem;
                }
    }
    @media(min-width: 900px) and (max-width: 1024px) 
    {
        #logo { //logo
                     height:12rem;
                     margin-top:6rem;
                }
    }
    @media(min-width: 1024px) and (max-width: 1200px) 
    {
        #logo { //logo
                     height:14rem;
                     margin-top:8rem;
                }
    }
    @media(min-width: 1200px) and (max-width: 1919px) 
        {
            #logo { //logo
                     height:15rem;
                     margin-top:8rem;
                }
        }
    @media(min-width: 1920px) 
        {
             #logo { //logo
                     height:18rem;
                     margin-top:8rem;
                }
        }
    h1{
        text-transform: capitalize;
    }
    h2{
        text-transform: capitalize;
    }
    h3{
        text-transform: capitalize;
    }
    h4{
        text-transform: capitalize;
    }
    footer {
        grid-column: 1/4 ;
        height:15vh;
    }
}

@import "homepage";
@import "footer";
@import "navbar";
@import "boutique";
@import "reset"; 
@import "connexion";
@import "moncompte";
@import "favorite";
@import "commandes";
@import "products";
@import "OneProduct";
@import "panier";
@import "homepageAdmin";
@import "Admin";
